@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif, 'poppins' ;
    height: 100%;width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxLoad {
    background-color: #351AA0;
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

 }
 .load{
    width: 100px;height: 100px;
    background-image: url(../assets/loading.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    animation: rotation 2s infinite linear; 
 }
 @keyframes rotation{
    to{transform: rotate(360deg);}
 }
.center{
    height: 720px;
    width: 1033px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 64px;
    border: 1px solid #a19f9f;
    box-shadow: -9px 10px 5px #F0F0F0;
    padding: 64px;
}
.tittle-primary {
    color: #351AA0;
    margin-top: 5px;   
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 96px;
}
.tittle-secondary{
    color: #351AA0;
    font-size: 34px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tittle-third{
    color: #351AA0;
    font-size: px ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.candidato{
    width: 328px; height: 251px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    background-color: #351AA0;
    border-radius: 10px;
    transition: .5s;
}
.candidato:hover{
    border: 1px solid #351AA0;
    background-color: #FFF;
    span{
        color: #351AA0;
    }
    .i {
        color: #351AA0;
    }
}
.candidato span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFE;
    font-size: 28px;
}
.candidato .i{
    color: white;

}

.empresa span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFE;
    font-size: 24px;
}
.empresa .i{
    color: white;

}
.empresa{
    width: 328px; height: 251px;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    background-color: #351AA0;
    border-radius: 10px;
    transition: .5s;
}
.empresa:hover{
    border: 1px solid #351AA0;
    background-color: #FFF;
    span{
        color: #351AA0;
    }
    .i{
        color: #351AA0;
    }
}